<a class="card card-general" href="/help/ja/general/">
  <img src="/help/assets/img/home-general.svg" alt="General Help">
  <div class="t">
    <h2>Flat</h2>
    <div class="description">Flatやアカウントについて</div>
  </div>
</a>
<a class="card card-editor" href="/help/ja/music-notation-software/">
  <img src="/help/assets/img/home-editor.svg" alt="Editor">
  <div class="t">
    <h2>編集機能</h2>
    <div class="description">Flatで利用できる機能について</div>
  </div>
</a>
<a class="card card-edu" href="/help/ja/education/">
  <img src="/help/assets/img/home-edu.svg" alt="Flat for Education">
  <div class="t">
    <h2>Flat for Education</h2>
    <div class="description">教育版での機能や詳細について</div>
  </div>
</a>
<a class="card card-dev" href="/help/en/music-notation-embed/">
  <img src="/help/assets/img/logos/flat-embed-pub.svg" alt="Flat Music Notation Embed">
  <div class="t">
    <h2>スコアの埋め込み</h2>
    <div class="description">ウェブサイト・ブログ・アプリなどへのスコアの埋め込みについて</div>
  </div>
</a>
<a class="card card-dev" href="https://flat.io/developers">
  <img src="/help/assets/img/home-dev.svg" alt="Developer Help">
  <div class="t">
    <h2>開発者向けAPI</h2>
    <div class="description">APIに関する詳細について</div>
  </div>
</a>
{% if page.pid == 'home' %}
<a class="card card-support" href="/help/support">
  <img src="/help/assets/img/home-email.svg" alt="Email Support">
  <div class="t">
    <h2>お問い合わせ</h2>
    <div class="description">Flatに関するご質問やご要望など、お声をお聞かせください。</div>
  </div>
</a>
{% endif %}